* {
  font-weight: 400; }

body, html {
  background: #fff;
  font-family: 'helvetica neue', helvetica, arial; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

p {
  margin: 0px 0px 10px 0px; }

[contentEditable] {
  border-bottom: dashed 1px rgba(0, 0, 0, 0.3);
  outline: 0;
  padding-bottom: 3px; }
  [contentEditable]:focus {
    border-color: red; }
